<!-- Create your form here -->

<h1>Student Form</h1>

<%= form_tag students_path do %>
  <label>Enter your first name</label><br>
  <%= text_field_tag :first_name %><br><br>

  <label>Enter your last name</label><br>
  <%= text_field_tag :last_name%><br><br>

  <%= submit_tag "Submit Student" %>

<% end %>
